Building.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iepmodel.net"
	xmlns="http://www.iepmodel.net">
	<xs:annotation>
		<xs:documentation>
Need to add other types of spaces within a building to cover buildings other than homes
Consider extending BuildingType and SpaceType in the Space xml class to cover more than one program type
</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="Common.xsd"/>
	<xs:include schemaLocation="CommonSolar.xsd"/>
	<xs:include schemaLocation="EnergyConsumption.xsd"/>
	<xs:include schemaLocation="Zone.xsd"/>
	<xs:element name="building" type="building"/>
	<xs:complexType name="insulation">
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Describe the insulation to any extent desired: type (fiberglass, foam, etc.), brand, location, installation features, etc.

It is important to specify the units of measurement for R-value if one intends to use non-SI units. This is discouraged, as SI units are expected and indicated in the annotation of R-Value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="r-Value" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The amount of thermal insulation installed, specified in SI units: square-meter kelvins per watt or m²·K/W (or equivalently to m²·°C/W).

Note that if you intend to use different units then this should be noted in the Description.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:float">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="emissivity" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The ability of a surface/material to radiate energy relative to a black body.

An ideal reflective material has an emissivity close to zero.
An ideal black body has an emissivity of one.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:float">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="coverageFraction" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The fraction of the insulated surface that is covered by insulation.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:float">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="buildingLeakage">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is simply a descriptive name, typically a common name used for the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Describe the nature of the leakage, such as:
- the entity that performed the test
- location
- severity
- how discovered
- systems, equipment affected
- etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="testFlow" type="flow">
				<xs:annotation>
					<xs:documentation>The flow rate during which the leakage test was performed. Typically, this is the flow rate through the pipe or from the fan if a blower door or duct leakage test is performed.

This flow rate correspondes to the Leakage Value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="testPressure" type="pressure">
				<xs:annotation>
					<xs:documentation>The pressure at the leak or test point when the leakage test was performed. Typically, this may be the discharge pressure of the fan if a blower door or duct leakage test is performed.

This pressure corresponds to the Leakage Value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="leakageFlow" type="flow">
				<xs:annotation>
					<xs:documentation>The quantity of leakage - the resulting leakage flow rate that is measured or determined from a test.

This corresponds to the Test Flow and Pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="leakageArea" type="area">
				<xs:annotation>
					<xs:documentation>The quantity of leakage measured in terms of "leakage area" per area of the enclosure. The leakage area indicates the effective net size (area) of the leak. The area of the enclosure typically refers to the floor-area of the enclosure being tested.

This corresponds to the Test Flow and Pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="wall">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is simply a descriptive name, typically a common name used for the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Place for user to include additional notes/description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="area" type="area" minOccurs="0"/>
			<xs:element name="width" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="height" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="insulation" type="insulation" minOccurs="0" maxOccurs="1"/>
			<xs:element name="composition" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Wall composition.
Examples:
Wood Framing - Face Brick
Steel - Face Brick
Concrete Block
Insulated Concrete Form						etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:IDREF"/>
	</xs:complexType>
	<xs:complexType name="ceiling">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is simply a descriptive name, typically a common name used for the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Place for user to include additional notes/description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="area" type="area" minOccurs="0" maxOccurs="1"/>
			<xs:element name="length" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="width" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="insulation" type="insulation" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:IDREF"/>
	</xs:complexType>
	<xs:complexType name="attic">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is simply a descriptive name, typically a common name used for the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Place for user to include additional notes/description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="area" type="area" minOccurs="0"/>
			<xs:element name="length" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="width" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="insulation" type="insulation" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:IDREF"/>
	</xs:complexType>
	<xs:complexType name="window">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is simply a descriptive name, typically a common name used for the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Place for user to include additional notes/description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="frameComposition" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Vinyl
						Steel
						Wood
						etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="paneCount" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number of panes: 
1 = single-pane
2 = double-pane
3 = triple-pane</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="shgc" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Solar Heat Gain Coefficient
http://www.efficientwindows.org/shgc.cfm
The SHGC is the fraction of incident solar radiation admitted through a window, both directly transmitted and absorbed and subsequently released inward. SHGC is expressed as a number between 0 and 1. The lower a window's solar heat gain coefficient, the less solar heat it transmits.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:float">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="treatment" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>None or Clear
Tinted
Low Emmissivity ("Low-E")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="u-Value" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The heat conductivity or coefficient of heat transmission of a material, specified in SI units: watts per square-meter kelvins  W/(m²·K) or equivalently W/(m²·°C).

Note that if you intend to use different units then this should be noted in the Description.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:float">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="width" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="height" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="area" type="area" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:IDREF"/>
	</xs:complexType>
	<xs:complexType name="door">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is simply a descriptive name, typically a common name used for the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Place for user to include additional notes/description.
For example:
- East exterior door, metal and wood construction
- Interior, upstairs bathroom door, wood construction</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="area" type="area" minOccurs="0" maxOccurs="1"/>
			<xs:element name="width" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="height" type="dimension" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="uFactor" use="required" type="xs:double"/>
		<xs:attribute name="id" type="xs:IDREF"/>
	</xs:complexType>
	<xs:complexType name="garage">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is simply a descriptive name, typically a common name used for the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Place for user to include additional notes/description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="length" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="width" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="height" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="insulation" type="insulation" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:IDREF"/>
	</xs:complexType>
	<xs:complexType name="foundation">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is simply a descriptive name, typically a common name used for the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Place for user to include additional notes/description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="area" type="area" minOccurs="0" maxOccurs="1"/>
			<xs:element name="length" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="width" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="insulation" type="insulation" minOccurs="0" maxOccurs="1"/>
			<xs:element name="base" type="foundationBaseEnum" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:IDREF"/>
	</xs:complexType>
	<xs:simpleType name="foundationBaseEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Crawlspace"/>
			<xs:enumeration value="Finished Basement"/>
			<xs:enumeration value="Unfinished Basement"/>
			<xs:enumeration value="SlabOnGrade"/>
			<xs:enumeration value="Raised Floor"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="roofLookEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Butterfly"/>
			<xs:enumeration value="Combination"/>
			<xs:enumeration value="Flat"/>
			<xs:enumeration value="Gable"/>
			<xs:enumeration value="Gambrel"/>
			<xs:enumeration value="Hip"/>
			<xs:enumeration value="Mansard"/>
			<xs:enumeration value="Shed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="roofSurfaceEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CalPac metal"/>
			<xs:enumeration value="composition roll"/>
			<xs:enumeration value="composition shingle"/>
			<xs:enumeration value="foam"/>
			<xs:enumeration value="heavy concrete tile"/>
			<xs:enumeration value="high-definition comp shingle"/>
			<xs:enumeration value="light weight concrete tile"/>
			<xs:enumeration value="single-ply membrane"/>
			<xs:enumeration value="slate"/>
			<xs:enumeration value="spanish barrel tile"/>
			<xs:enumeration value="standing seam metal"/>
			<xs:enumeration value="tar &amp; gravel"/>
			<xs:enumeration value="wood shake"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="roofConstructionEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="beams and purlins"/>
			<xs:enumeration value="rafters with attic"/>
			<xs:enumeration value="truss with attic"/>
			<xs:enumeration value="vaulted 2x"/>
			<xs:enumeration value="vaulted beams"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="roofFaceStructure">
		<xs:annotation>
			<xs:documentation>Describes a roof face's structural attributes important to knowing whether the roof can support the additional weight of added equipment, such as solar panels.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="structuralMembers" type="xs:string">
				<xs:annotation>
					<xs:documentation>Type of structural support for the roofing deck. Example values might include: "Wood 2byX, Fir#2 Or Better", "Wood 2byX", "Wood I-beam", "Steel I-beam", "Steel C-channel", etc</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="structuralMemberCrossSectionWidth"
				type="xs:decimal"/>
			<xs:element minOccurs="0" name="structuralMemberCrossSectionDepth" type="xs:decimal"/>
			<xs:element maxOccurs="1" minOccurs="0" name="structuralMemberSpacing" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>Dimensions given in inches. SolarABCs expedited permit process steps through a check of rafter beam spacing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="structuralMemberMaxUnsupportedSpan" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>Length in feet, of the maximum span of any rafter of the roof plane.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="beamsExposedToInteriorSpace"
				type="xs:boolean">
				<xs:annotation>
					<xs:documentation>If using wooden beams as structural members, are the beams exposed to the occupied spaces below?</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="roofEdgeTypeEnum">
		<xs:annotation>
			<xs:documentation>Set of roof edge types. In IEP, roof areas can be described by polygons where solar arrays can be placed. The various roof edge types can have a variety of setback rules associated by type.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="eave"/>
			<xs:enumeration value="ridge"/>
			<xs:enumeration value="rake"/>
			<xs:enumeration value="hip"/>
			<xs:enumeration value="valley"/>
			<xs:enumeration value="flashing"/>
			<xs:enumeration value="step flashing"/>
			<xs:enumeration value="mansard"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="roofEdge">
		<xs:annotation>
			<xs:documentation>Defines a single edge of a defined polygon and associates a type to it. Useful for identifying array areas where different edge types have different setback rules.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="startIdRef" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ID of the first of two points in a polygon that define one of its edges. Note that all polygon types defined for the roofFace should have the same ID for the points that represent the same polygon vertex.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endIdRef" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ID of the second of two points in a polygon that define one of its edges.  Note that all polygon types defined for the roofFace should have the same ID for the points that represent the same polygon vertex.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="roofEdgeTypeEnum" minOccurs="0">
				<!-- not requred for ground areas? -->
				<xs:annotation>
					<xs:documentation>Type of roof face edge, for example: ridge, eave, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:complexType name="roofFace">
		<xs:complexContent>
			<xs:extension base="arrayInstallArea">
				<xs:sequence>
					<xs:element minOccurs="0" name="edges">
						<xs:annotation>
							<xs:documentation>Contains the set of polygon sides that define the roof face.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" minOccurs="1" name="edge"
									type="roofEdge">
									<xs:annotation>
										<xs:documentation>A single edge of the roof face that identifies its type. There are different setback rules applied to different types of roof face edges, so each edge's type must be defined. Each edge is defined by two points of a polygon.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element form="unqualified" minOccurs="0" name="structure"
						type="roofFaceStructure">
						<xs:annotation>
							<xs:documentation>This element describes the roof face's structural attributes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="roof">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is simply a descriptive name, typically a common name used for the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Place for user to include additional notes/description:

- Descriptions of damage/leaks/deterioration, 
- Description of access requirements to chillers / air handlers / etc. 
- Was the customer told of their options if solar will outlive roof? 
- Attic accessibility - special requirements? Crane? Key?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="look" type="roofLookEnum" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The type of roof design.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="constructionStyle" type="roofConstructionEnum" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Describes the roof structure design.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="surfaceType" type="roofSurfaceEnum" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Roof surface material.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="color" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="area" type="area" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is a convenience value based on the average tilt of the roof and the floor space of the building and may be overridden by the LayoutPlane dimensions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parapetWall" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Does roof have a parapet wall?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parapetWallHeight" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="signsOfLeaksDamageOrDeterioration" type="xs:string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Use as a notes field. Look for things like: Existing roof leaks, signs of poor drainage (such as stains), uneven roof decks, etc</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yearBuiltOrReplaced" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="newRoofPlanned" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>New Roof Planned Before/With Solar?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deckInsulationLevel" type="insulation" minOccurs="0" maxOccurs="1"/>
			<xs:element name="craneRequiredForAccess" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is a crane required to access the roof?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rooferNameAndContact" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="roofFaces" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A collection of one or more roof faces.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="roofFace" type="roofFace"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:IDREF"/>
	</xs:complexType>
	<xs:complexType name="building">
		<xs:annotation>
			<xs:documentation>This object captures all of the building components with exception to energy producing and consuming systems.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is simply a descriptive name, typically a common name used for the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Place for user to include additional notes/description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="buildingNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Identifies the number of a building where multiple buildings share a common street address (case where a site with a single address contains multiple buildings).
						
Note that if a single Building has more than one street address, only one is required to identify the location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="grossFloorArea" type="area" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total floor area, including conditioned (heated/ cooled/ ventilated) and unconditioned spaces.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="spaces">
				<xs:complexType>
					<xs:sequence maxOccurs="1" minOccurs="1">
						<xs:element name="space" type="space" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="zones">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="zone" type="zone" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="roof" type="roof"/>
			<xs:element minOccurs="0" name="atticSpaces">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="atticSpace" type="attic" minOccurs="1"
							maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="ceilings">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ceiling" type="ceiling" minOccurs="1"
							maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="doors">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="door" type="door" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="windows">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="window" type="window" minOccurs="1" maxOccurs="unbounded"
						/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="foundations">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="foundation" type="foundation" minOccurs="1"
							maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="garages">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="garage" type="garage" minOccurs="1" maxOccurs="unbounded"
						/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="walls">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="wall" type="wall" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="buildingLeakage" type="buildingLeakage" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This defines the components of the envelope for the existing structure</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
</xs:schema>
