Building.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iepmodel.net"
	xmlns="http://www.iepmodel.net" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>
Need to add other types of spaces within a building to cover buildings other than homes
Consider extending BuildingType and SpaceType in the Space xml class to cover more than one program type
</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="Common.xsd"/>
	<xs:include schemaLocation="EnergyConsumption.xsd"/>
	<xs:include schemaLocation="Zone.xsd"/>
	<xs:element name="building" type="building"/>
	<xs:complexType name="insulation">
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Describe the insulation to any extent desired: type (fiberglass, foam, etc.), brand, location, installation features, etc.

It is important to specify the units of measurement for R-value if one intends to use non-SI units. This is discouraged, as SI units are expected and indicated in the annotation of R-Value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="r-Value" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The amount of thermal insulation installed, specified in SI units: square-meter kelvins per watt or m²·K/W (or equivalently to m²·°C/W).

Note that if you intend to use different units then this should be noted in the Description.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:float">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="emissivity" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The ability of a surface/material to radiate energy relative to a black body.

An ideal reflective material has an emissivity close to zero.
An ideal black body has an emissivity of one.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:float">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="coverageFraction" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The fraction of the insulated surface that is covered by insulation.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:float">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="buildingLeakage">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is simply a descriptive name, typically a common name used for the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Describe the nature of the leakage, such as:
- the entity that performed the test
- location
- severity
- how discovered
- systems, equipment affected
- etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="testFlow" type="flow">
				<xs:annotation>
					<xs:documentation>The flow rate during which the leakage test was performed. Typically, this is the flow rate through the pipe or from the fan if a blower door or duct leakage test is performed.

This flow rate correspondes to the Leakage Value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="testPressure" type="pressure">
				<xs:annotation>
					<xs:documentation>The pressure at the leak or test point when the leakage test was performed. Typically, this may be the discharge pressure of the fan if a blower door or duct leakage test is performed.

This pressure corresponds to the Leakage Value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="leakageFlow" type="flow">
				<xs:annotation>
					<xs:documentation>The quantity of leakage - the resulting leakage flow rate that is measured or determined from a test.

This corresponds to the Test Flow and Pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="leakageArea" type="area">
				<xs:annotation>
					<xs:documentation>The quantity of leakage measured in terms of "leakage area" per area of the enclosure. The leakage area indicates the effective net size (area) of the leak. The area of the enclosure typically refers to the floor-area of the enclosure being tested.

This corresponds to the Test Flow and Pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="wall">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is simply a descriptive name, typically a common name used for the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Place for user to include additional notes/description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="area" type="area" minOccurs="0"/>
			<xs:element name="width" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="height" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="insulation" type="insulation" minOccurs="0" maxOccurs="1"/>
			<xs:element name="composition" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Wall composition.
Examples:
Wood Framing - Face Brick
Steel - Face Brick
Concrete Block
Insulated Concrete Form						etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:IDREF"/>
	</xs:complexType>
	<xs:complexType name="ceiling">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is simply a descriptive name, typically a common name used for the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Place for user to include additional notes/description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="area" type="area" minOccurs="0" maxOccurs="1"/>
			<xs:element name="length" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="width" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="insulation" type="insulation" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:IDREF"/>
	</xs:complexType>
	<xs:complexType name="attic">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is simply a descriptive name, typically a common name used for the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Place for user to include additional notes/description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="area" type="area" minOccurs="0"/>
			<xs:element name="length" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="width" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="insulation" type="insulation" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:IDREF"/>
	</xs:complexType>
	<xs:complexType name="window">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is simply a descriptive name, typically a common name used for the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Place for user to include additional notes/description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="frameComposition" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Vinyl
						Steel
						Wood
						etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="paneCount" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number of panes: 
1 = single-pane
2 = double-pane
3 = triple-pane</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="shgc" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Solar Heat Gain Coefficient
http://www.efficientwindows.org/shgc.cfm
The SHGC is the fraction of incident solar radiation admitted through a window, both directly transmitted and absorbed and subsequently released inward. SHGC is expressed as a number between 0 and 1. The lower a window's solar heat gain coefficient, the less solar heat it transmits.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:float">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="treatment" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>None or Clear
Tinted
Low Emmissivity ("Low-E")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="u-Value" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The heat conductivity or coefficient of heat transmission of a material, specified in SI units: watts per square-meter kelvins  W/(m²·K) or equivalently W/(m²·°C).

Note that if you intend to use different units then this should be noted in the Description.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:float">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="width" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="height" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="area" type="area" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:IDREF"/>
	</xs:complexType>
	<xs:complexType name="door">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is simply a descriptive name, typically a common name used for the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Place for user to include additional notes/description.
For example:
- East exterior door, metal and wood construction
- Interior, upstairs bathroom door, wood construction</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="area" type="area" minOccurs="0" maxOccurs="1"/>
			<xs:element name="width" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="height" type="dimension" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="uFactor" use="required" type="xs:double"/>
		<xs:attribute name="id" type="xs:IDREF"/>
	</xs:complexType>
	<xs:complexType name="garage">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is simply a descriptive name, typically a common name used for the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Place for user to include additional notes/description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="length" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="width" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="height" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="insulation" type="insulation" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:IDREF"/>
	</xs:complexType>
	<xs:complexType name="foundation">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is simply a descriptive name, typically a common name used for the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Place for user to include additional notes/description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="area" type="area" minOccurs="0" maxOccurs="1"/>
			<xs:element name="length" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="width" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element name="insulation" type="insulation" minOccurs="0" maxOccurs="1"/>
			<xs:element name="base" type="foundationBaseEnum" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:IDREF"/>
	</xs:complexType>
	<xs:simpleType name="foundationBaseEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRAWLSPACE"/>
			<xs:enumeration value="FINISHED_BASEMENT"/>
			<xs:enumeration value="UNFINISHED_BASEMENT"/>
			<xs:enumeration value="SLAB_ON_GRADE"/>
			<xs:enumeration value="RAISED_FLOOR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="roofLookEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BUTTERFLY"/>
			<xs:enumeration value="COMBINATION"/>
			<xs:enumeration value="FLAT"/>
			<xs:enumeration value="GABLE"/>
			<xs:enumeration value="GAMBREL"/>
			<xs:enumeration value="HIP"/>
			<xs:enumeration value="MANSARD"/>
			<xs:enumeration value="SHED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="roofSurfaceEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CALPAC_METAL"/>
			<xs:enumeration value="COMPOSITION_ROLL"/>
			<xs:enumeration value="COMPOSITION_SHINGLE"/>
			<xs:enumeration value="FOAM"/>
			<xs:enumeration value="HEAVY_CONCRETE_TILE"/>
			<xs:enumeration value="HIGH-DEFINITION_COMP_SHINGLE"/>
			<xs:enumeration value="LIGHT_WEIGHT_CONCRETE_TILE"/>
			<xs:enumeration value="SINGLE-PLY_MEMBRANE"/>
			<xs:enumeration value="SLATE"/>
			<xs:enumeration value="SPANISH_BARREL_TILE"/>
			<xs:enumeration value="STANDING_SEAM_METAL"/>
			<xs:enumeration value="TAR_AND_GRAVEL"/>
			<xs:enumeration value="WOOD_SHAKE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="roofConstructionEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BEAMS_AND_PURLINS"/>
			<xs:enumeration value="RAFTERS"/>
			<xs:enumeration value="MANUFACTURED_TRUSS"/>
			<xs:enumeration value="VAULTED_BEAMS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rafterCrossSectionEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="2x4_PRE_1960"/>
			<xs:enumeration value="2x6_PRE_1960"/>
			<xs:enumeration value="2x8_PRE_1960"/>
			<xs:enumeration value="2x4_POST_1960"/>
			<xs:enumeration value="2x6_POST_1960"/>
			<xs:enumeration value="2x8_POST_1960"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="deckSheathingEnum">
		<xs:annotation>
			<xs:documentation>ENUM of roof deck sheathing types.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ORIENTED_STRAND_BOARD_OR_PLYWOOD_GT_OR_EQ2_7_16_INCH_THICK"/>
			<xs:enumeration value="ORIENTED_STRAND_BOARD_OR_PLYWOOD_LT_THAN_7_16_INCH_THICK"/>
			<xs:enumeration value="SKIP_SHEATHING_1X"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="roofFaceStructure">
		<xs:annotation>
			<xs:documentation>Describes a roof face's structural attributes important to knowing whether the roof can support the additional weight of added equipment, such as solar panels.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="structuralSupportType" type="xs:string">
				<xs:annotation>
					<xs:documentation>Type of structural support for the roofing deck. Example values might include: "Wood 2byX, Fir#2 Or Better", "Wood 2byX", "Wood I-beam", "Steel I-beam", "Steel C-channel", etc</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="rafterCrossSection" type="rafterCrossSectionEnum">
				<xs:annotation>
					<xs:documentation>Nominal rafter size. Nominal rafter sizing changed around 1960. A post-1960 2x4 measures 1.5" x 3.5", while a pre-1960 2x4 measures 1.75" x 3.75". The rafter's cross section affects the maximum span.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="rafterSpacing" type="xs:double">
				<xs:annotation>
					<xs:documentation>Spacing center to center of adjacent rafters (or other structural members). Expedited permit process steps through a check of rafter beam spacing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="rafterSpan" type="xs:double">
				<xs:annotation>
					<xs:documentation>Length of rafter (or other structural member) supporting the roof deck. Used in determining if sag is acceptable or not.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="rafterSag" type="xs:double">
				<xs:annotation>
					<xs:documentation>The maximum deflection in a roof face's rafter (or other structural member) span.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="rafterMaxHorizontalSpan" type="xs:double">
				<xs:annotation>
					<xs:documentation>Longest horizontally measured length of unsupported rafter or roof deck structural member.  That is, it is NOT the measured length of rafters, it is the horizontal projection of rafter length along the greatest unsupported length. See Figure 4 of CA Permitting Guidelines structural checklist.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ridgeBeamSpan" type="xs:double">
				<xs:annotation>
					<xs:documentation>If relevant, measured length of the ridge beam for this roof face.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ridgeBeamSag" type="xs:double">
				<xs:annotation>
					<xs:documentation>If roof face includes a ridge beam, this is the maximum deflection in its span.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="beamsExposedToInteriorSpace"
				type="xs:boolean">
				<xs:annotation>
					<xs:documentation>If using wooden beams as structural members, are the beams exposed to the occupied spaces below?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="disallowedHolesOrNotchesInStructuralMembers"
				type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Are there any visually apparent disallowed notches or holes in rafters, or diagonal/vertical truss members? According to CA expedited permitting guidebook: holes are only allowed in middle half of member's span, holes may be no larger than 1/4 of rafter depth (D), holes may only be in middle third of rafter depth, minimum spacing between holes is at least rafter depth, notches may be no deeper than 1/4" along top or bottom of rafter, bird's mouth notches at end of rafter are OK.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="roofEdgeTypeEnum">
		<xs:annotation>
			<xs:documentation>Set of roof edge types. In IEP, roof areas can be described by polygons where solar arrays can be placed. The various roof edge types can have a variety of setback rules associated by type.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="eave"/>
			<xs:enumeration value="ridge"/>
			<xs:enumeration value="rake"/>
			<xs:enumeration value="hip"/>
			<xs:enumeration value="valley"/>
			<xs:enumeration value="flashing"/>
			<xs:enumeration value="step flashing"/>
			<xs:enumeration value="mansard"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="roofEdge">
		<xs:annotation>
			<xs:documentation>Defines a single edge of a defined polygon and associates a type to it. Useful for identifying array areas where different edge types have different setback rules.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="startIdRef" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ID of the first of two points in a polygon that define one of its edges. Note that all polygon types defined for the roofFace should have the same ID for the points that represent the same polygon vertex.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endIdRef" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>ID of the second of two points in a polygon that define one of its edges.  Note that all polygon types defined for the roofFace should have the same ID for the points that represent the same polygon vertex.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="roofEdgeTypeEnum" minOccurs="0">
				<!-- not requred for ground areas? -->
				<xs:annotation>
					<xs:documentation>Type of roof face edge, for example: ridge, eave, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:complexType name="roofFace">
		<xs:annotation>
			<xs:documentation>A single external plane of an entire roof structure.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name">
				<xs:annotation>
					<xs:documentation>Descriptive name for the roof face array area.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="azimuth" type="angle">
				<xs:annotation>
					<xs:documentation>The compass direction of the roof face, typically 90 deg. to the eave. 0 is North, and 180 is south.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="slope" type="angle">
				<xs:annotation>
					<xs:documentation>The slope, in degrees, of the roof face.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="area" type="area"/>
			<xs:element minOccurs="0" name="solarAccessPercentage" type="solarAccessPercentage"/>
			<xs:element minOccurs="0" name="storyHeight">
				<xs:annotation>
					<xs:documentation>Number of stories from ground level to base of roofFace.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="surfaceType" type="roofSurfaceEnum">
				<xs:annotation>
					<xs:documentation>Option to use this element when roof faces differ in type of surface. In most instances, roofs share the same surfaceType which can be defined at the roof level of the model.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element default="1" minOccurs="0" name="surfaceLayers" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Number of roofing surface layers. For example, a single re-roof overlay would make 2 surface layers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="deckSheathing" type="deckSheathingEnum">
				<xs:annotation>
					<xs:documentation>Roofing deck material.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="constructionStyle" type="roofConstructionEnum" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Describes the roof structure design.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="polygon2dSceneCameraView" type="polygon2d">
				<xs:annotation>
					<xs:documentation>An array area as defined from an aerial source such as a satellite or airplane. These views are rarely orthographic (straight down), the angles at which the camera has taken the image can result in skewed polygon shapes. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="polygon2dSceneOrthoProjection" type="polygon2d">
				<xs:annotation>
					<xs:documentation>Describes the geometry of the area from an orthographic view straight down.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="roofAreaPolygon2dLocal" type="installAreaPolygon2dLocal">
				<xs:annotation>
					<xs:documentation>Reference ID to the this roof face's polygon definition using a coordinate system whose scope is limited to only this roof face. This defines actual dimensions, not a projection. It may also include any obstructions contained within this same roofFace using the same local coordinate scope.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="polygon3dScene" type="polygon3d">
				<xs:annotation>
					<xs:documentation>An array area defined in 3 dimensional space. The area's coordinates exist in a larger scene that may contain multiple roof faces and/or ground areas.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="holes">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="hole">
							<xs:annotation>
								<xs:documentation>A hole is a polygon completely contained within a roof face. Holes may represent outlines of chimneys, skylights, dormers, vents, etc.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element minOccurs="0" name="polygon2dOrthoProjection"
										type="polygon2d"/>
									<xs:element minOccurs="0" name="polygon2dLocal" type="polygon2d"/>
									<xs:element minOccurs="0" name="polygon3dScene" type="polygon3d"/>
									<xs:element minOccurs="0" name="edges">
										<xs:complexType>
											<xs:sequence>
												<xs:element maxOccurs="unbounded" name="edge"
												type="roofEdge"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="id"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="edges">
				<xs:annotation>
					<xs:documentation>Contains the set of polygon sides that define the roof face.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="1" name="edge" type="roofEdge">
							<xs:annotation>
								<xs:documentation>A single edge of the roof face that identifies its type. There are different setback rules applied to different types of roof face edges, so each edge's type must be defined. Each edge is defined by two points of a polygon.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="parapetWall" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Does roof have a parapet wall?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parapetWallHeight" type="dimension" minOccurs="0" maxOccurs="1"/>
			<xs:element form="unqualified" minOccurs="0" name="structure" type="roofFaceStructure">
				<xs:annotation>
					<xs:documentation>This element describes the roof face's structural attributes.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:complexType name="roof">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is simply a descriptive name, typically a common name used for the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Place for user to include additional notes/description:

- Descriptions of damage/leaks/deterioration, 
- Description of access requirements to chillers / air handlers / etc. 
- Was the customer told of their options if solar will outlive roof? 
- Attic accessibility - special requirements? Crane? Key?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="look" type="roofLookEnum" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The type of roof design.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="surfaceType" type="roofSurfaceEnum" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Roof surface material. In a large majority of cases, a roof has a single roofSurfaceType that is shared by all of its faces. This element satisfies that case. However, its possible for a roof to have different surface types on different roof faces. In use cases where this is important, use the surfaceType element within each roofFace element.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="color" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element minOccurs="0" name="evidenceOfLeaksOrDeterioration" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Are there signs of leaks, poor drainage, uneven roof surface, exessive sagging, etc. Use conditionNotes to capture details.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="structuralDecayOrFireDamage" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Is there any visually apparent structural decay or un-repaired fire damage? Use conditionNotes to record details.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="conditionNotes" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Use as a notes field to more fully describe basic findings. Describe evidence of leaks, poor drainage (such as stains), structural decay, or fire damage. Refer to specific roof faces if appropriate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yearBuiltOrReplaced" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="newRoofPlanned" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>New Roof Planned Before/With Solar?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deckInsulationLevel" type="insulation" minOccurs="0" maxOccurs="1"/>
			<xs:element name="craneRequiredForAccess" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is a crane required to access the roof?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rooferNameAndContact" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="roofFaces" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A collection of one or more roof faces.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="roofFace" type="roofFace"/>
						<xs:element minOccurs="0" name="obstructions">
							<xs:annotation>
								<xs:documentation>A collection of rooftop obstructions, typically equipment, such as air handlers.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element maxOccurs="unbounded" name="obstruction"
										type="obstruction"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:IDREF"/>
	</xs:complexType>
	<xs:complexType name="building">
		<xs:annotation>
			<xs:documentation>This object captures all of the building components with exception to energy producing and consuming systems.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is simply a descriptive name, typically a common name used for the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Place for user to include additional notes/description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="yearBuilt" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Known or approximate year that the building's construction was completed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="buildingNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Identifies the number of a building where multiple buildings share a common street address (case where a site with a single address contains multiple buildings).
						
Note that if a single Building has more than one street address, only one is required to identify the location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="grossFloorArea" type="area" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total floor area, including conditioned (heated/ cooled/ ventilated) and unconditioned spaces.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="spaces">
				<xs:complexType>
					<xs:sequence maxOccurs="1" minOccurs="1">
						<xs:element name="space" type="space" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="zones">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="zone" type="zone" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="roof" type="roof"/>
			<xs:element minOccurs="0" name="atticSpaces">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="atticSpace" type="attic" minOccurs="1"
							maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="ceilings">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ceiling" type="ceiling" minOccurs="1"
							maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="doors">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="door" type="door" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="windows">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="window" type="window" minOccurs="1" maxOccurs="unbounded"
						/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="foundations">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="foundation" type="foundation" minOccurs="1"
							maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="garages">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="garage" type="garage" minOccurs="1" maxOccurs="unbounded"
						/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="walls">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="wall" type="wall" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="buildingLeakage" type="buildingLeakage" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This defines the components of the envelope for the existing structure</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
</xs:schema>
