CommonElectrical.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--**************************************************************************
    schema: CommonElectrical.xsd v 2.0
    Author(s):
    v 2.0 Michael Palmquist, SolarNexus Inc
    v 1.x Michael Palmquist, SolarNexus Inc
    Description: Schema includes elements for defining an electrical system on a site.  Includes elements that describe the distribution of circuits, such as electric panels, wiring, wireways (conduit), over-current protection devices (OCPD), and disconnects.
**************************************************************************** -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iepmodel.net"
    targetNamespace="http://www.iepmodel.net" version="1.0">
    <xs:include schemaLocation="Common.xsd"/>
    <xs:simpleType name="wireTypeEnum">
        <xs:annotation>
            <xs:documentation>Types of wire material, such as "stranded Cu," "solid Cu," "stranded Al," etc.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="STRANDED_CU"/>
            <xs:enumeration value="SOLID_CU"/>
            <xs:enumeration value="STRANDED_AL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="wireGaugeEnum">
        <xs:annotation>
            <xs:documentation>Standard wire sizes in AWG or kcmil.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="12"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="1/0"/>
            <xs:enumeration value="2/0"/>
            <xs:enumeration value="3/0"/>
            <xs:enumeration value="4/0"/>
            <xs:enumeration value="250"/>
            <xs:enumeration value="350"/>
            <xs:enumeration value="400"/>
            <xs:enumeration value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="wireJacketTypeEnum">
        <xs:annotation>
            <xs:documentation>ISSUE: May need additional jacket types</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BARE"/>
            <xs:enumeration value="USE"/>
            <xs:enumeration value="USE-2"/>
            <xs:enumeration value="THWN"/>
            <xs:enumeration value="THWN-2"/>
            <xs:enumeration value="THHN"/>
            <xs:enumeration value="THHW"/>
            <xs:enumeration value="XHHW-2"/>
            <xs:enumeration value="RHW-2"/>
            <xs:enumeration value="PV_WIRE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="conductorRoleEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LINE"/>
            <xs:enumeration value="NEUTRAL"/>
            <xs:enumeration value="POSITIVE"/>
            <xs:enumeration value="NEGATIVE"/>
            <xs:enumeration value="EGC"/>
            <xs:enumeration value="GEC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="conduitDiameterEnum">
        <xs:annotation>
            <xs:documentation>List of industry standard electrical conduit diameters in inches.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="1/2"/>
            <xs:enumeration value="3/4"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="1 1/4"/>
            <xs:enumeration value="1 1/2"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="conduitTypeEnum">
        <xs:annotation>
            <xs:documentation>Standard types of electrical conduit.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="EMT"/>
            <xs:enumeration value="PVC"/>
            <xs:enumeration value="RIGID"/>
            <xs:enumeration value="FREE_AIR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="overCurrentProtectionDeviceEnum">
        <xs:annotation>
            <xs:documentation>Types of over current protection devices</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="circuit breaker"/>
            <xs:enumeration value="fuse"/>
            <xs:enumeration value="none"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="switchContactActionEnum">
        <xs:annotation>
            <xs:documentation>Variations of switch contact operation.
                - SPST = single pole, single throw
                - DPST = double pole, single throw
                - 3PST = triple pole, single throw
                - SPDT = single pole, double throw (aka "changover switch")</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SPST"/>
            <xs:enumeration value="DPST"/>
            <xs:enumeration value="3PST"/>
            <xs:enumeration value="SPDT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="switchDutyEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="General-Duty"/>
            <xs:enumeration value="Heavy-Duty"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="currentEnum">
        <xs:annotation>
            <xs:documentation>Types of electrical current.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AC"/>
            <xs:enumeration value="DC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="serviceConfigurationVoltageEnum">
        <xs:annotation>
            <xs:documentation>Options for electrical service configuration and voltage.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="240_120_SPLIT_PHASE"/>
            <xs:enumeration value="240_DELTA_3_PHASE"/>
            <xs:enumeration value="240_SPLIT_PHASE_DELTA_3_PHASE"/>
            <xs:enumeration value="208_DELTA_3_PHASE"/>
            <xs:enumeration value="208_DELTA_120_WYE_3_PHASE"/>
            <xs:enumeration value="480_DELTA_277_WYE_3_PHASE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="electricalPanelDefinition">
        <xs:annotation>
            <xs:documentation>A description of an electrical distribution device. Typically also known as "load centers" that house multiple circuit breakers.  A switch can also be modeled.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="equipmentDefinition">
                <xs:sequence>
                    <xs:element name="ratedCurrent" type="xs:integer" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Rating of the bus, in Amps.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="disconnectSwitchDefinition">
        <xs:annotation>
            <xs:documentation>A definition for a piece of equipment that can disconnect a CircuitConnection.  In the model, specific instances of Disconnect switches are modeled as WirewayBoxes.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="equipmentDefinition">
                <xs:sequence>
                    <xs:element minOccurs="1" name="discoRating" type="xs:integer">
                        <xs:annotation>
                            <xs:documentation>Rating in amps for disconnecting an AC or DC circuit.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="acVoltageRating" type="xs:integer"/>
                    <xs:element minOccurs="0" name="dcVoltageRating" type="xs:integer"/>
                    <xs:element name="switchContact" minOccurs="0" type="switchContactActionEnum">
                        <xs:annotation>
                            <xs:documentation>The terms pole and throw are also used to describe switch contact variations. The number of "poles" is the number of separate circuits which are controlled by a switch. For example, a "2-pole" switch has two separate identical sets of contacts controlled by the same knob. The number of "throws" is the number of separate positions that the switch can adopt. A single-throw switch has one pair of contacts that can either be closed or open. A double-throw switch has a contact that can be connected to either of two other contacts, a triple-throw has a contact which can be connected to one of three other contacts, etc</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="duty" type="switchDutyEnum"/>
                    <xs:element minOccurs="0" name="visibleLock" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>Does the switch have a visible locking mechnism?</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="fusible" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>Do the switch circuits include fuses?</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="fuse" type="fuseDefinition">
                        <xs:annotation>
                            <xs:documentation>If the switch includes fuses, this describes the fuses.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="meterDefinition">
        <xs:annotation>
            <xs:documentation>A device that records the quantity of energy units consumed by the customer.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="equipmentDefinition">
                <xs:sequence>
                    <xs:element minOccurs="0" name="directionality" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Is the meter mono or bi-directional?</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="measurementMechanism" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>What type of measurement mechanism does the meter employ? For example, "current transducer" or "inline electro-mechanical"</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="standAloneMeterSocketDefintion">
        <xs:complexContent>
            <xs:extension base="equipmentDefinition"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="junctionBoxDefinition">
        <xs:annotation>
            <xs:documentation>A definition for a piece of electrical equipment used to join pieces of conduit together or to act as a location for making splices. In the model, specific instances of junction boxes are modeled as WirewayBoxes. Note that a JunctionBox may not combine any circuits, a separate DcCombiner element is defined for that purpose in PvSystems.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="equipmentDefinition"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="wirewaySegment" abstract="true">
        <xs:annotation>
            <xs:documentation>Base definition of a WirewaySegment, which is a distinct piece of wireway through which electrical wiring is housed for its prtotection and the protection of people and property. Wireway segments can be either electrical conduit or boxes. Multiple segments are connected to form a single continuous path for one or more CircuitConnections. Each segment is distinct by its characteristics.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A name given in context to the system. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="locationDescription" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Description of where the segment is, or through which locations it traverses.  Include descriptions such as attic, interior, exterior, roof, or trench.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="highTempExposure" type="xs:boolean" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Is the conduit exposed to high temperatures?  For example, sitting on a roof in direct sun.  If so, any conductors contained within the segment may have to have their rated current carrying capacity derated.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="equipmentDefinitionIdRef" type="xs:IDREF">
            <xs:annotation>
                <xs:documentation>If the WirewaySegment is a junction box or disconnect switch, this refers to its EquipmentDefinition. A WirewayBox may be a pass through where multiple ConduitSegments are combined into a single ConduitSegment for example.  A disconnect switch box may also be modeled as a WirewayBox, provided that the circuit(s) involved are simply disoconnected and not combined in any way. DO NOT use WirewayBox to represent a combiner, or distribution panel.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="conduitDefinition">
        <xs:sequence>
            <xs:element name="type" type="conduitTypeEnum" minOccurs="0" maxOccurs="1"/>
            <xs:element name="diameter" type="conduitDiameterEnum" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>
    <xs:complexType name="conduitSegment">
        <xs:annotation>
            <xs:documentation>A ConduitSegment is any continuous section of electrical conduit of a consistent type.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="wirewaySegment">
                <xs:sequence>
                    <xs:element name="length" type="xs:double" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The length in feet of the conduit segment.  Values should be rounded up to nearest foot.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="segmentConnections">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="2" name="segmentConnection" type="xs:IDREF"
                                    minOccurs="2">
                                    <xs:annotation>
                                        <xs:documentation>The ID Ref for another WirewaySegment or Equipment to which the Coduit segment connects.  Conduit is a pipe with 2 ends, so it has a maximum of two WirewaySegments or Equipment to which it connects.  Boxes can have many WirewaySegment connections.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="wirewayBox">
        <xs:annotation>
            <xs:documentation>A WirewayBox is an abstract way to describe instances of junction boxes and disconnect switches. What differentiates them from conduit segments is the ability for circuitConnections to start or end in them, as well as for multiple circuitConnections to exit from them.  electrical box through which CircuitConnections travel as a transition from one ConduitSegment to another. Wireway boxes cannot change the current or voltage characteristics of any CircuitConnections starting, ending, or passing through it.  They may not combine or distribute current like a DcCombiner or ElectricalPanel. They may not change voltage characteristics such as a StringInverter. A WirewayBox may contain 1:1 wire splices or a disconnect switch (based on its instance type). Note that a WirewayBox may or may not refer to a defined piece of Equipment (e.g. a JunctionBoxDefintion, DisconnectSwitchDefinition, StandAloneMeterSocketDefintion). It may instead contain a free text name.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="wirewaySegment">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="circuitConnections">
                        <xs:annotation>
                            <xs:documentation>A wireway box may have multiple circuits entering it, therefore it must have multiple circuits leaving it as well. No combining of circuits occurs at wireway boxes.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="circuitConnection"
                                    type="circuitConnection"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="conduitSegments" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>A collection of the conduit segments connected to this box.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="conduitSegment"
                                    type="xs:IDREF" minOccurs="1">
                                    <xs:annotation>
                                        <xs:documentation>The ID Ref for a conduitSegment.  Boxes can have many conduitSegment connections (e.g. multiple conduit segments can terminate at a box). Conduit is a pipe with 2 ends, so it has a maximum of two WirewaySegments to which it connects.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="junctionBox">
        <xs:annotation>
            <xs:documentation>A junctionBox is used to splice different circuitConnections together, as in the case of string wiring transitioning from free air to wire in conduit. circuitConnections may also pass through a junction box like it is a conduit segment. A junctionBox cannot change the current or voltage characteristics of any circuits. They may not combine or distribute current like a DcCombiner or ElectricalPanel.  They may not change voltage characteristics such as a StringInverter. Note that a juntionBox may or may not refer to a defined piece of Equipment (e.g. a JunctionBoxDefintion, DisconnectSwitchDefinition, StandAloneMeterSocketDefintion). It may instead contain a free text name.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="wirewayBox"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="disconnectBox">
        <xs:annotation>
            <xs:documentation>A disconnectBox can provide a break between circuitConnections via its disconnect switch. Disconnect boxes cannot change the current or voltage characteristics of any circuits. circuitConnections may start/end at a disconnect box, where circuit conductors are switched. circuitConnections may also pass through a disconnect box like it is a conduit segment. A disconnectBox may not combine or distribute current like a DcCombiner or ElectricalPanel.  They may not change voltage characteristics such as a StringInverter. Note that a disconnectBox may or may not refer to a defined piece of Equipment (e.g. a JunctionBoxDefintion, DisconnectSwitchDefinition, StandAloneMeterSocketDefintion). It may instead contain a free text name.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="wirewayBox"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="meterBox">
        <xs:complexContent>
            <xs:extension base="wirewayBox"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="overCurrentProtectionDevice" abstract="true">
        <xs:annotation>
            <xs:documentation>Over current protection device (commonly called "OCPD"). Fuses and circuit breakers are OCPDs. 
Note that this type does not extend EquipmentDefinition nor EquipmentInstance.  It is not a piece of equipment, but rather a component within a piece of equipment.  It is not necessary to include a mfr and model in most cases; knowing the type and rating is required.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="currentRating" type="xs:integer" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The maximum rating in amps at which the OCPD is rated for operation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="acVoltageRating" type="xs:integer" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Maximum AC voltage at which the OCPD is rated for use.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="dcVoltageRating" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Maximum DC voltage (if any) at which the OCPD is rated for use.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="manufacturer" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Optional name of the manufacturer.  May be helpful to know if replacing the current with something compatible, example. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="modelNumber" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Optional manufacturer model number.  May be helpful to know if replacing the current with something compatible, example.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fuseDefinition">
        <xs:annotation>
            <xs:documentation>A fuse is a disposable, one time use OCPD lacking any disconnect means.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="overCurrentProtectionDevice">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fuseClass" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>This describes the form factor of the fuse body.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="circuitBreakerDefinition">
        <xs:annotation>
            <xs:documentation>A circuit breaker is a re-usable OCPD which can also act as a disconnecting means.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="overCurrentProtectionDevice">
                <xs:sequence>
                    <xs:element minOccurs="0" name="disconnectInterruptRating" type="xs:integer"
                        maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Circuit breakers have disconnect interrupt ratings in Amps. Typical ratings include: 5000, 10000, 23000, 42000.  Typically if rating is not listed on a breaker, it is 5000.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="includesGFPDevice" type="xs:boolean"
                        maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Commercial only. Does the OCPD include a Ground Fault Protection (GFP) device?</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="sideOfPanelOcpdWhereConnectedEnum">
        <xs:annotation>
            <xs:documentation>When an interconnection is made on an electrical panel with a breaker separating the supply side and load side of the panel, these list the two sides.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="supply-side"/>
            <xs:enumeration value="load-side"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="conductorDefinition">
        <xs:annotation>
            <xs:documentation>Specifications of a single type of conductor.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="wireType" type="wireTypeEnum">
                <xs:annotation>
                    <xs:documentation>Types of conductor material, such as "stranded Cu," "solid Cu," "stranded Al," etc.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="jacketType" type="wireJacketTypeEnum">
                <xs:annotation>
                    <xs:documentation>Type of jacketing on the conductor.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="wireGauge" type="wireGaugeEnum">
                <xs:annotation>
                    <xs:documentation>Wire diameter, given in American Wire Gauge (AWG), or kcmil.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" use="required"/>
    </xs:complexType>
    <xs:complexType name="conductor">
        <xs:annotation>
            <xs:documentation>A single conductor instance in a circuit.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="role" type="conductorRoleEnum">
                <xs:annotation>
                    <xs:documentation>Identifier of this conductor's role in the circuit.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="jacketColor" type="xs:string"/>
            <xs:element minOccurs="0" name="grounded" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Is this conductor grounded?</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ocpdProtection">
                <xs:annotation>
                    <xs:documentation>Is this conductor protected by an overcurrent protection device (OCPD) such as a fuse or circuit breaker? If so, a reference to the OCPD's specifications are provided, as well as a reference to the equipment in which the OCPD is housed.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="id" type="xs:ID" use="required">
                        <xs:annotation>
                            <xs:documentation>The ID of this ocpd instance.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="ocpdDefinitionIdRef" type="xs:IDREF" use="required">
                        <xs:annotation>
                            <xs:documentation>Reference ID within the XML instance document of the OCPD's specifications (fuse, or circuit breaker).</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="equipmentWhereHousedIdRef">
                        <xs:annotation>
                            <xs:documentation>The equipment instance where this OCPD is located. Refers to the equipment instance's ID within the XML instance document.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" use="required" type="xs:ID"/>
        <xs:attribute name="conductorDefinitionIdRef" type="xs:IDREF" use="optional">
            <xs:annotation>
                <xs:documentation>Reference to the conductor specifications.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="cable">
        <xs:sequence>
            <xs:element name="cableName"/>
            <xs:element name="conductors"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType abstract="false" name="groundingElectrodeConductor">
        <xs:annotation>
            <xs:documentation>The conductor that serves as the main ground path for either an AC or DC system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="conductor" type="conductor"/>
            <xs:element minOccurs="0" name="groundingElectrode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Grounding electrode is typically a ground rod or U-fer.  This element should include the grounding electrode's size. For example "3/4 in ground rod."</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="circuitConnection">
        <xs:annotation>
            <xs:documentation>A CircuitConnection defines a portion of an electrical circuit connecting two distinct components of an electrical system (for example, the connection of a PV String to a CombinerBox).  A CircuitConnection is made by conductors. One end of the CircuitConnection is the element in which the CircuitConnection exists, and the other end is typically the parent element of the element in which the CircuitConnection element resides. For example, a CombinerBox element can have multiple PvString elements within it.  Each PvString element contains a CircuitConnection element which defines its connection to the CombinerBox.  A CombinerBox has a CircuitConnection element which defines its connection to an InverterDcInput, for example.

Optionally, the CircuitConnectionType contains an optional EquipmentWhereConnectedIdRef attribute which can be used to reference another electrical equipment element in another part of a document.  For example, a PvDesign's Inverter has no parent element.  Instead, it's AcTie-InCircuitConnection uses the EquipmentWhereConnectedIdRef attribute to reference either an ElectricalPanel within the PvDesign, or an ElectricalPanel within a Project's ExistingElectricalDistributionHierarchy element may exist.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>An optional free text identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="currentType" minOccurs="0" type="currentEnum">
                <xs:annotation>
                    <xs:documentation>AC or DC</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="length" type="xs:double" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Length of this conductor connection, in feet.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="conductors">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="conductor" type="conductor"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="maximumWireTemperature"/>
            <xs:element default="load-side" minOccurs="0" name="sideOfPanelOcpdWhereConnected"
                type="sideOfPanelOcpdWhereConnectedEnum">
                <xs:annotation>
                    <xs:documentation>When a circuit connection's targetComponent is an ElectricalPanel, this describes which side of a the panel's main breaker (if present) that the interconnection made (supply or load side)?
This is a very important consideration, as the NEC dictates the maximum allowable interconnected current, and it is very different for each side of the OCPD.  For example, when tied to the load side of a panel's bus, the total of all circuits amperage can sum to 120% of the bus's current rating when using a backfed breaker.  If tied to the supply side, the allowable PV circuit amperage can go up to the maximum rated amperage of the bus (as the main breaker protects the load side).  Note that this also differs between residential and commercial systems. Most residential systems are interconnected on the load side. Conversely, most commercial systems are interconnected on the supply side because NEC 690 currently has no 120% rule on commercial load side tie-in (significantly limiting possible size), and also commercial system equipment is more likely to have connections available on the supply side (e.g. lugs).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="wirewaySegments">
                <xs:annotation>
                    <xs:documentation>The collection of Wireway Segments through which this circuit connection runs. Can include ConduitSegments, WirewayBoxes, or both. Note that the circuitConnection can be routed through a DisconnectSwitch or StandAloneMeterSocket without actually being switched or metered.  If the circuitConnection is disconnected or metered, it should be called out in a separate disconnect or standAloneMeter element within the circuitConnection.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="wirewaySegmentIdRef" type="xs:IDREF" minOccurs="1"
                            maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>A single wireway segment through which this circuit connection runs. A wireway segment may be a conduit segment or a wireway box. Note that the circuitConnection can also be routed through a disconnectSwitch or standAloneMeterSocket without actually being switched or metered.  If the circuitConnection is disconnected or metered, it should be called out in a separate disconnect or standAloneMeter element within the circuitConnection. </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="includesDisconnect">
                <xs:annotation>
                    <xs:documentation>If the CircuitConnection has a disconnect switch in it, this calls it out.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="WirewayBoxIdRef" type="xs:IDREF" use="required">
                        <xs:annotation>
                            <xs:documentation>Reference to an instance of the DisconnectSwitch modeled generally as a WirewayBox. A disconnect switch can switch more than one CircuitConnection, so it is defined external to the CircuitConnection.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="includesStandAloneMeter">
                <xs:annotation>
                    <xs:documentation>If the CircuitConnection is metered (for example the utility's revenue meter), this element describes the meter socket and meter.  The meter and socket are individual entities. The MeterSocket is modeled as a simple WirewayBox.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="meterSocket" type="wirewayBox"/>
                        <xs:element name="meter" type="equipmentInstance"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="sourceComponentIdRef" type="xs:IDREF">
                <xs:annotation>
                    <xs:documentation>The component (an equipmentInstance) where this circuitConnection originates. Refers to the ID of that equipmentInstance within the XML document instance.
Circuit connections have two ends. One is the equipment defined by this ID, the other is defined by the targetComponentIdRef.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="targetComponentIdRef" type="xs:IDREF">
                <xs:annotation>
                    <xs:documentation>The component (an equipmentInstance) where this circuitConnection terminates. Refers to the ID of that equipmentInstance within the XML document instance.
Circuit connections have two ends. One is defined by the sourceComponentIdRef, the other is the equipment defined by this ID.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="continuingCircuitIdRef" type="xs:IDREF">
                <xs:annotation>
                    <xs:documentation>If the circuit connection terminates within a Junction box or Disconnect, and then transitions to another circuitConnection, this identifies the circuitConnection where it continues.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id"/>
        <xs:attribute name="circuitConnectionEndpointIdRef" type="xs:IDREF">
            <xs:annotation>
                <xs:documentation>The equipmentInstance where this circuitConnection terminates. Refers to the ID of that equipmentInstance within the XML document instance.
Circuit connections have two ends. One is defined by the parent of the circuitConnection, the other is the equipment defined by this ID.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="electricalPanel">
        <xs:annotation>
            <xs:documentation>Describes any sort of electrical distribution panel, for example a fused panel, a breaker panel, etc.  Can be a main or sub-panel.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="equipmentInstance">
                <xs:sequence>
                    <xs:element minOccurs="0" name="serviceConfigurationVoltage"
                        type="serviceConfigurationVoltageEnum"/>
                    <xs:element minOccurs="0" name="energizingSourceCircuitConnection"
                        type="xs:IDREF">
                        <xs:annotation>
                            <xs:documentation>Reference to the circuitConnection energizing the panel.  Should include description of OCPD / disco at the circuitConnection's source end.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="mainBreaker" type="circuitBreakerDefinition"
                        maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Describes an internal circuit breaker, if any, that serves as the main OCPD and power disconnect to this panel's bus.  Note that the ElectricPanel may or may not have an internal main breaker.  Panels with or without a main internal breaker may also have an OCPD on the ElectricPanel's CircuitConnection element which serves as the energizing source for this panel.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="existence" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Is this panel existing or new (proposed)?  When the ElectricalPanel is used within the existingElectricalSystem element inside of a Project's Site element, this is assumed to be an existing panel.  However, if the panel is just being defined within a PvDesign's AcTie-InPanel element, then its important to know if the panel being described already exists or is new (and therefore part of the scope of work).</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="includedMeter" type="equipmentInstance">
                        <xs:annotation>
                            <xs:documentation>If the panel is an "All in One", it has a meter socket.  This element describes the meter in that socket.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="sumOfExistingFeederBreakerAmps"
                        type="xs:integer">
                        <xs:annotation>
                            <xs:documentation>Integer quantity in Amps.  Add up the ratings for all existing breakers on the panel.  This is used to determine if existing panel configuration meets code, and if additional breakers can be added. </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="unusedBreakerSlotQuantity" type="xs:integer"
                        maxOccurs="1"/>
                    <xs:element minOccurs="0" name="supplySideLugHolesAvailable" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>Does the energizing (supply side) bus bar have pre-drilled holes suitable for adding a new supply side lug?</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="acGroundingElectrodeConductor"
                        type="groundingElectrodeConductor">
                        <xs:annotation>
                            <xs:documentation>The main service panel should have an AC system grounding conductor that runs from the grounding bus to the grounding electrode.  The grounding electrode is a ground rod, or U-fer, for example.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
