Participant.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iepmodel.net"
	xmlns="http://www.iepmodel.net">
	<xs:annotation>
		<xs:documentation>This is intended to cover all participants including Consumers, Service Providers, etc.
		</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="Common.xsd"/>
	<xs:element name="Participant" type="ParticipantType"/>
	<xs:complexType name="ParticipantType">
		<xs:annotation>
			<xs:documentation>This is intended to cover all participants including Consumers, Service Providers, etc.

Why mailing address is outside the Contact?

mailing addresses are closely associated with the role of the participant, not the individual contacts within a participant.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Organization" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>If the Participant is an organization. Use this for the name of the organization</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Contact" type="ContactType" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="MailingAddress" type="AddressType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TaxStatus" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The participant's tax entity status.  For example, the Cal Solar Initiative program defines the following legal values: Corporation, Individual, LLC (Corporation), LLC (Non-Corporation), Partnership, Sole Proprietor, Tax Exempt.  This may hold other values depending on the needs of the user.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sector" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The sector in which the project is defined. The Cal Solar Initiative defines the following legal values: Commercial, Government, Non-Profit, Residential.  Other values can be used to support defined sectors used by other programs.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Role" type="ParticipantRoleEnumType" minOccurs="1"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A participant may have one or more roles with respect to a project.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxPayerId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Credential" type="CredentialType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="LiabilityPolicy" type="LiabilityPolicyType" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="ManufacturerAffiliation" type="ManufacturerAffiliationType"
				minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Service" type="ServiceType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Id" use="optional" type="xs:ID"/>
	</xs:complexType>
	<xs:complexType name="ContactType">
		<xs:annotation>
			<xs:documentation>This schema has been extended from one of the components in the Clean Power Research schema included in their PowerClerk schema. It's intended use is to define the contacts in a particular project for customers, contractors, service providers, etc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FirstName" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MiddleName" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LastName" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Title" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PhoneNumber" type="PhoneNumberType" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="EmailAddress" type="EmailAddressType" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="SkypeAccount" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Website" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PreferredContactMethod" type="PreferredContactMethodEnumType"
				minOccurs="0" maxOccurs="1"/>
			<xs:element name="BestTimeOfDayToReach" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PreferredContactMethodEnumType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Home Phone"/>
			<xs:enumeration value="Work Phone"/>
			<xs:enumeration value="Cell Phone"/>
			<xs:enumeration value="Email"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ParticipantRoleEnumType">
		<xs:annotation>
			<xs:documentation>Host Customer - "utility account holder"</xs:documentation>
			<xs:documentation>Customer - "The customer of the scope of work offered."</xs:documentation>
			<xs:documentation>Occupant - "The organization or persons occupying a building specified in the project."</xs:documentation>
			<xs:documentation>PV System Owner - "The owner of the PV system may not necessarily the owber of the facility. As in the case of leasing the system."</xs:documentation>
			<xs:documentation>Incentive Payee - "Agency or business providing the incentive."</xs:documentation>
			<xs:documentation>Seller - "The party providing the defined system / scope of work"</xs:documentation>
			<xs:documentation>Financer - "The party providing the financing for the work"</xs:documentation>
			<xs:documentation>General Contractor - "The general contractor overssing the work done."</xs:documentation>
			<xs:documentation>Installer - "The party installing the system. Typically this is a contractor."</xs:documentation>
			<xs:documentation>Referrer - "A party who referred the customer to the seller."</xs:documentation>
			<xs:documentation>Auditor - "A party who provides the site audit."</xs:documentation>
			<xs:documentation>Inspector - "A inspector for any of the work done."</xs:documentation>
			<xs:documentation>Engineer - "An engineer providing designs documents and specifications"</xs:documentation>
			<xs:documentation>Program Administrator - "A party who oversees any incentive or regulatory work."</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Host Customer"/>
			<xs:enumeration value="Customer"/>
			<xs:enumeration value="Occupant"/>
			<xs:enumeration value="PV System Owner"/>
			<xs:enumeration value="Incentive Payee"/>
			<xs:enumeration value="Seller"/>
			<xs:enumeration value="Financer"/>
			<xs:enumeration value="General Contractor"/>
			<xs:enumeration value="Installer"/>
			<xs:enumeration value="Referrer"/>
			<xs:enumeration value="Auditor"/>
			<xs:enumeration value="Inspector"/>
			<xs:enumeration value="Engineer"/>
			<xs:enumeration value="Program Administrator"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CredentialType">
		<xs:annotation>
			<xs:documentation>Credential Validation describes a way for software and service developers using the IEP model to verify that a particular individual (typically a contractor, home energy rater, or similar professional) has a credential issued by a certifying authority (“CA”, such  as a contractor licensing board, HERS provider, or similar authority). It also specifies a way to describe credential metadata, such as status and dates.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CAInternalID" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unique internal identifier from Certifying Authority
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CAID" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference to Certifying  Authority
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Credential short name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Credential long name
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateConferred" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date credential first conferred </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateExpires" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date credential expires (may be past)
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status (valid, expired, etc,); varies by CA</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LiabilityPolicyType">
		<xs:annotation>
			<xs:documentation>
This is only used for Service Providers(i.e. Seller, Installer, Referrer, etc.)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Issuer" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Number" type="xs:int" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceType">
		<xs:annotation>
			<xs:documentation>A Description of the types of services provided. For instance: Heating, cooling, (installation/repair), duct sealing, asbestos removal, etc.

This is only used for Service Providers(i.e. Seller, Installer, Referrer, etc.)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ManufacturerAffiliationType">
		<xs:annotation>
			<xs:documentation>This is for recording formal Manufacturer affiliations

This is only used for Service Providers(i.e. Seller, Installer, Referrer, etc.)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Description" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PhoneNumberType">
		<xs:sequence>
			<xs:element name="Number" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Extension" type="xs:int" minOccurs="0" maxOccurs="1" nillable="true"/>
			<xs:element name="Primary" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PhoneNumberUse" type="PhoneNumberEnumType" minOccurs="0" maxOccurs="1"
			/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="PhoneNumberEnumType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Business"/>
			<xs:enumeration value="Business Fax"/>
			<xs:enumeration value="Home"/>
			<xs:enumeration value="Home Fax"/>
			<xs:enumeration value="Mobile"/>
			<xs:enumeration value="Pager"/>
			<xs:enumeration value="Skype"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EmailAddressType">
		<xs:sequence>
			<xs:element name="Address" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Primary" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EmailAddressUse" type="EmailAddressEnumType" minOccurs="0"
				maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EmailAddressEnumType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Work"/>
			<xs:enumeration value="Home"/>
			<xs:enumeration value="Alternate"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CertifyingAuthority">
		<xs:sequence>
			<xs:element name="CAID" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CAName" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="MailingAddress" type="AddressType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Contact" type="ContactType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
