Project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--**************************************************************************
	schema: Project.xsd v 2.0
	Author(s):
	v 2.0 Michael Palmquist (SolarNexus Inc)
	v 1.x Michael Palmquist (SolarNexus Inc), Devan Johnson (kW Engineering), Paul Cobb (SaveEnergy123)
	Description: Schema describes the entirety of a project, including participants, site details, system measures, costs, etc.
	**************************************************************************** -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iepmodel.net"
	xmlns="http://www.iepmodel.net">
	<xs:include schemaLocation="Appliance.xsd"/>
	<xs:include schemaLocation="Building.xsd"/>
	<xs:include schemaLocation="Common.xsd"/>
	<xs:include schemaLocation="DistributionSystem.xsd"/>
	<xs:include schemaLocation="CommonElectrical.xsd"/>
	<xs:include schemaLocation="HVACSystem.xsd"/>
	<xs:include schemaLocation="LightingSystem.xsd"/>
	<xs:include schemaLocation="Participant.xsd"/>
	<xs:include schemaLocation="PvSystem.xsd"/>
	<xs:include schemaLocation="SolarThermalSystem.xsd"/>
	<xs:include schemaLocation="UtilityService.xsd"/>
	<xs:include schemaLocation="WaterHeatingSystem.xsd"/>
	<xs:element name="project" type="project"/>
	<xs:complexType name="changeLog">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="changeEntry" type="changeEntry"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="changeEntry">
		<xs:sequence>
			<xs:choice>
				<xs:element minOccurs="0" name="participantId" type="xs:IDREF"/>
				<xs:element minOccurs="0" name="author" type="xs:string"/>
			</xs:choice>
			<xs:element name="date" type="xs:dateTime"/>
			<xs:element name="decsription" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="projectClassificationEnum">
		<xs:annotation>
			<xs:documentation>This defines whether the project is New Construction or a Retrofit</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Retrofit"/>
			<xs:enumeration value="New Construction"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="lineItem">
		<xs:annotation>
			<xs:documentation>We include costs at this level in order capture the costs that are applicable to multiple measures such as administrative costs</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" use="optional" type="xs:IDREF"/>
		<xs:attribute name="sku" type="xs:string"/>
		<xs:attribute name="provider" type="xs:string">
			<xs:annotation>
				<xs:documentation>If a material, this is the manufacturer of the product. If a service or labor, this is the party providing it.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="description" type="xs:string"/>
		<xs:attribute name="unit" type="xs:string"/>
		<xs:attribute name="UnitCost" type="xs:float"/>
		<xs:attribute name="taxable" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Will sales tax be applied to this item?</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="quantity" type="xs:float" use="required"/>
		<xs:attribute name="measureIdRef">
			<xs:annotation>
				<xs:documentation>If this cost is attributable to a specific measure, this can be captured. Useful if separate costs must be attributed to separate measures.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="itemizedList">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" name="lineItem" type="lineItem"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="priceBreakdown">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="retailPrice" type="xs:float">
				<xs:annotation>
					<xs:documentation>The Price of the Scope of Work, before sales tax is applied.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="salesTaxRate" type="xs:float">
				<xs:annotation>
					<xs:documentation>Local tax rate applied applied to the taxable items in the line items. Given as a decimal number (for example, use 0.032 for 3.2%)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="salesTax" type="xs:float"/>
			<xs:element name="retailPriceWithTax" type="xs:float" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is the total retail price for this Scope of Work, including sales tax.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="incentivesToBeReceivedByContractor"
				type="xs:float">
				<xs:annotation>
					<xs:documentation>Amount that the contractor may deduct from the scope of work's retail price because the contractor will collect the incentive money rather than asking the customer to pay the contractor and acquire it themselves.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="contractPrice" type="xs:float">
				<xs:annotation>
					<xs:documentation>The price that the contractor is quoting to the customer in exchange for completing the defined scope of work.  May be the the RetailPriceWithTax less any IncentivesToBeReceivedByContractor.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="solution">
		<xs:annotation>
			<xs:documentation>Defines a specific scope of work from a single service provider. Benefits for the work are calculated at this level instead of at the Measure level since multiple Measures may impact a single Benefit. For example putting in a new high efficiency furnace and sealing the ducts will have different impact than the benefit for each measure taken independently.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="serviceProvider" type="xs:IDREF" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The provider of the scope of work.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateProvided" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date scope of work was provided.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expirationDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specify the date or time period after which this scope of work offer expires.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is a simple Name describing the Scope of Work such as 'HVAC upgrade'</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is a set of general descriptions of the work being done</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="salesStatus" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The currently known sales status of the Scope of Work. Some examples might be "Proposed", or "Sold." </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="measures">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="measure" type="xs:IDREF" minOccurs="1"
							maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>A reference to the specific Measures taken for this Scope of Work</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="itemizedList" type="itemizedList">
				<xs:annotation>
					<xs:documentation>This is the typical list of Line Items presented in a scope of work to describe in detail what materials and labor will be delivered for the contract price.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="customerPrice" type="priceBreakdown"/>
			<xs:element name="plannedStartDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="plannedFinishDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="totalBenefits" type="benefit" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Benefits obtained for all Measures combined in the Scope of Work. This does not necessarily reflect a direct rollup of all of the individual measure benefits as some combination of measures may impact measure benefits. Individual measure benefits may be expressed independent of other measures. 
						
						For example: The total benefit of a Lighting efficiency measure combined with a high efficiency HVAC measure would not equal  the sum of the measures benefit if implemented independently.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="transaction" type="transaction">
				<xs:annotation>
					<xs:documentation>Defines the type of transaction (sale, lease, etc) and its parameters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="extension">
				<xs:annotation>
					<xs:documentation>Element to allow inclusion of any other content within the Scope of Work as an extension. NOTE: Since most of the IEP model consists of optional elements, you will not find specific elements with an ANY available for extension.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:any minOccurs="0" namespace="##any" processContents="lax"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:complexType name="programMeasureCode">
		<xs:annotation>
			<xs:documentation>This is used to match to existing measure codes usually defined for the purposes of incentives such as the PG&amp;E measure codes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="provider" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the program, or organization.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="code" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The program provider's identifier for the measure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The textual name or description of the measure as defined by the program.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="systemTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PV_SYSTEM"/>
			<xs:enumeration value="SOLAR_THERMAL"/>
			<xs:enumeration value="BUILDING_ENVELOPE"/>
			<xs:enumeration value="HVAC"/>
			<xs:enumeration value="LIGHTING"/>
			<xs:enumeration value="WATER_HEATING"/>
			<xs:enumeration value="APPLIANCE"/>
			<xs:enumeration value="DISTRIBUTION_SYSTEM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="systemAddition">
		<xs:attribute name="systemType" type="systemTypeEnum"/>
		<xs:attribute name="systemIdRef" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:complexType name="systemRemoval">
		<xs:attribute name="systemType" type="systemTypeEnum"/>
		<xs:attribute name="systemIdRef" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:complexType name="systemModification">
		<xs:attribute name="systemType" type="systemTypeEnum"/>
		<xs:attribute name="existingSystemIdRef" type="xs:IDREF" use="required"/>
		<xs:attribute name="modifiedSystemIdRef" type="xs:IDREF" use="required"/>
		<xs:attribute name="codeCompliantReferenceSystemIdRef" type="xs:IDREF">
			<xs:annotation>
				<xs:documentation>System modifications and replacements may be compared against a code compliant set of systems that is different from the existing baseline equipment. Specifically used for incentive calculations where incentives are only paid for incremental savings above code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="systemReplacement">
		<xs:attribute name="systemType" type="systemTypeEnum"/>
		<xs:attribute name="existingSystemIdRef" type="xs:IDREF" use="required"/>
		<xs:attribute name="modifiedSystemIdRef" type="xs:IDREF" use="required"/>
		<xs:attribute name="codeCompliantReferenceSystemIdRef" type="xs:IDREF">
			<xs:annotation>
				<xs:documentation>System modifications and replacements may be compared against a code compliant set of systems that is different from the existing baseline equipment. Specifically used for incentive calculations where incentives are only paid for incremental savings above code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="measureAction">
		<xs:annotation>
			<xs:documentation>Independent actions that make up a measure implementation. Each measure has a single action (i.e. removing one piece of equipment, or remove and replace, or modify, or add).</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="systemAddition" type="systemAddition"> </xs:element>
			<xs:element name="systemModification" type="systemModification"/>
			<xs:element name="systemReplacement" type="systemReplacement"> </xs:element>
			<xs:element name="systemRemoval" type="systemRemoval"> </xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="measure">
		<xs:annotation>
			<xs:documentation>Measure is intended to define a single specific measure to be taken in a scope of work.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is simply a descriptive name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is intended to be the general description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="details" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is used for more detailed descriptions of the measure, for instance, it may contain multiple steps</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="author" type="dataOriginator" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is the original author or initiator of the measure</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reasonForChange" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Why is the measure being implemented?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="goals">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="goal" type="xs:string" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>What are the intended goals to be achieved with this measure. This is optional as goals may be defined at the Project level.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="measureAction" type="measureAction" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is intended to define the actions to be taken on the system at a high level, either adding, removing or modifying the system</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="incentiveProgramCategory" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Used for filtering measures based on what incentive program category.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="programMeasureCodes">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="programMeasureCode" type="programMeasureCode"
							minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Describes an incentive provider's codes corresponding to the defined measure.  For example, the PG&amp;E measure codes.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="benefits">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="benefit" type="benefit" minOccurs="1"
							maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Describes a benefit (or cost) associated with the described measure.  Typically used to described energy production, or savings, expected incentive payments, greenhouse gas savings, etc.  Can also be used to describe costs as negative benefits. 

If BenefitsAnalysisOrder is defined, then benefits should be incremental relative to that order.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="benefitsAnalysisOrder" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is used when analyzing the impact of the measure benefits. Specific measures need to be processed in an order based on the load priority of the system, i.e. efficiency change of a furnace and then apply the leakage of the ducts.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="costs">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="cost" type="cost" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>This defines the Costs for this particular measure. This is optional as costs may be rolled up at the Scope of Work level</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="transaction">
		<xs:sequence>
			<xs:element name="financeOption" type="xs:string">
				<xs:annotation>
					<xs:documentation>Common values include: cash, refinance, secured loan, unsecured loan, lease, PPA.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="downPayment" type="xs:float">
				<xs:annotation>
					<xs:documentation>Dollar amount customer pays upfront.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="term" type="xs:float">
				<xs:annotation>
					<xs:documentation>Finance term in years.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="financeRate" type="xs:float">
				<xs:annotation>
					<xs:documentation>Percentage rate of interest (APR) for a loan, or escalation in payment amounts (lease / PPA).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="initialMonthlyPayment" type="xs:float">
				<xs:annotation>
					<xs:documentation>The amount of the customer's initial monthly payment.  This amount may grow the next year in the case of a lease/PPA with an annual escalation rate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="IssuanceCost" type="xs:float">
				<xs:annotation>
					<xs:documentation>A transaction cost, in dollars. Some finance mechanisms charge a processing fee, for example, that the customer must pay upfront. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="terminationOption" type="terminationOptionEnum">
				<xs:annotation>
					<xs:documentation>Describes what happens at the end of the finance period.  The customer may PURCHASE the asset, RENEW the lease/PPA, or RETURN the asset.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="residualValue" type="xs:float">
				<xs:annotation>
					<xs:documentation>When termination option is "purchase," this describes the purchase price at that time in the future.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="extension">
				<xs:complexType>
					<xs:sequence>
						<xs:any minOccurs="0" namespace="##any" processContents="lax"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="terminationOptionEnum">
		<xs:annotation>
			<xs:documentation>Describes what happens at the end of the finance period.  The customer may PURCHASE the asset, RENEW the lease/PPA, or RETURN the asset.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="purchase"/>
			<xs:enumeration value="renew"/>
			<xs:enumeration value="return"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="project">
		<xs:annotation>
			<xs:documentation>Project is intended to consolidate at a high level all of the necessary information required to complete a project.

Can be used for multiple use cases where data is passed between parties/tools, including: project leads, collection of site audit data, proposing a set of measures, proposing a scope of work based on defined measures, etc.

Included reference to Utility Service here instead of in Building since Project encapsulates building</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is a simple descriptive name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A more general description of the project. Details are expected to be included at the Measure level</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="projectClassification" type="projectClassificationEnum" minOccurs="0"
				maxOccurs="1"/>
			<xs:element minOccurs="0" name="changeLog" type="changeLog" maxOccurs="1"/>
			<xs:element minOccurs="0" name="applicationReferenceIds">
				<xs:annotation>
					<xs:documentation>This element holds each vendor's identifiers for this project. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="1"
							name="applicationReferenceId" type="applicationId">
							<xs:annotation>
								<xs:documentation>ID of the object represented by this XML rewithin a  corresponding software application. Used by the software to identify its corresponding record within the application's database. AKA a primary key. Important if the data is passed from one application back to an originating application, for example.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="assignedTo">
				<xs:annotation>
					<xs:documentation>Element identifies the assigned owner of this project, typically an employee. Use when pushing a project into another system and assigning it to a user. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="Id" type="xs:string"/>
						<xs:element minOccurs="0" name="Name" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="participants">
				<xs:annotation>
					<xs:documentation>A collection of any and all participants in the project. Most commonly contains a participant in role of customer, but may also contain others such as subcontractors, financiers, etc.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="participant" type="participant" minOccurs="1"
							maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>An individual or organization.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="projectInitiator" type="dataOriginator" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is intended to identify the participant who initially collected the project data. This could be a website as well as a person</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateInitiated" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date that the project's definition was started (not it's actual implementation).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="projectTimeframe" type="xs:string">
				<xs:annotation>
					<xs:documentation>A description of the timeframe in which the project will likely occur. Typically defined by the customer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateCompleted" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is the date that the project was completed, i.e. signed off by the customer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="leadSource" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This defines from where the lead originally came.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="goal" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is intended to define the customers and service providers high level goals for the project. Detailed goals are expected to be recorded at the Measure level</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="financePreference" type="xs:string">
				<xs:annotation>
					<xs:documentation>Customer's preferred or likely method of financing the project. Note that individual scopes of work can have their own finance mechanism associated with an actual transaction description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="utilityServices">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="utilityService" type="utilityService" minOccurs="1"
							maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>This references the Utility company providing energy to the site.
Included reference to Utility Service here instead of in Building since Project encapsulates building</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="site" type="site" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The site element describes the property on which the project is being considered or implemented.  It describes ownership and jurisdictional information, as well as physical attributes associated with the property and grounds. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="buildings">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" ref="building"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="roofArrayInstallAreas" type="roofArrayInstallAreas">
				<xs:annotation>
					<xs:documentation>Collection of site areas that can be used for siting solar arrays.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="groundArrayInstallAreas" type="groundArrayInstallAreas"/>
			<xs:element minOccurs="0" name="measures">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="1" name="measure"
							type="measure">
							<xs:annotation>
								<xs:documentation>This is a list of requested and/or proposed and/or additional optional measures</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="solutions">
				<xs:annotation>
					<xs:documentation>A collection of defined solutions to attain the project's goals.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="solution" type="solution">
							<xs:annotation>
								<xs:documentation>A solution is a definition of the proposed work to be done, inlcuding one or more measures, labor and materials items, schedule, pricing, financing, etc. Each solution may be from a specific service provider.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="pvSystems" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Collection of PV system definitions. Multiple PV system options may be defined and proposed for a particular project. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="pvSystem" type="pvSystem"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="solarThermalSystems">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="solarThermalSystem"
							type="SolarThermalSystemType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="appliances">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="1" name="existingAppliance"
							type="appliance"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="hvacSystems">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="HVACSystem" type="HVACSystemType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="lightingSystems">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="lightingSystem"
							type="LightingSystemType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="waterHeatingSystems">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="waterHeatingSystem"
							type="WaterHeatingSystemType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="distributionSystems">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="distributionSystem"
							type="DistributionSystemType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="schedules">
				<xs:annotation>
					<xs:documentation>This is a container for all schedule definitions for the systems within the project.

This design is modeled on the gbxml Schedule.

The organization is consistent in many energy management systems and programable controllers. Typically schedules for these are created first by creating the Day schedule and then build Week schedules upon Day schedules and Year schedules built off of Week schedules.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="1" name="DaySchedule"
							type="daySchedule"/>
						<xs:element maxOccurs="unbounded" minOccurs="1" name="WeekSchedule"
							type="weekSchedule"/>
						<xs:element maxOccurs="unbounded" minOccurs="1" name="Schedule"
							type="schedule"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="extension">
				<xs:annotation>
					<xs:documentation>Element to allow inclusion of any other content within the Project as an extension. NOTE: Since most of the IEP model consists of optional elements, you will not find specific elements with an ANY available for extension.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:any minOccurs="0" namespace="##any" processContents="lax"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
