PvSystem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--**************************************************************************
    schema: PvDesign.xsd v 2.0
    Author(s):
    v 2.0 Michael Palmquist (SolarNexus Inc). Input From: Derek Mitchell (Verdiseno, SolarDesignTool.com)
    v 1.x Michael Palmquist (SolarNexus Inc). Input From: Mark Galli (Solmetric)
    Description: This schema defines complete PV systems. It is modular. It can define any system architiecture at
    various levels of detail.
**************************************************************************** -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iepmodel.net"
    targetNamespace="http://www.iepmodel.net" elementFormDefault="qualified">
    <xs:include schemaLocation="CommonSolar.xsd"/>
    <xs:complexType name="pvSystem">
        <xs:annotation>
            <xs:documentation>Description of a PV System Design.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="name" type="xs:string" maxOccurs="1"/>
            <xs:element minOccurs="0" name="description" type="xs:string" maxOccurs="1"/>
            <xs:element minOccurs="0" name="Status" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Element used to define the current status of the pvSystem.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="applicationReferences">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" name="applicationReferenceId" type="applicationId"
                            maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>ID of the object represented by this XML rewithin a  corresponding software application. Used by the software to identify its corresponding record within the application's database. AKA a primary key. Important if the data is passed from one application back to an originating application, for example. </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="pvModuleDefinitions">
                <xs:annotation>
                    <xs:documentation>A collection of the specifications of each PV module make/model used in the PV system.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="pvModuleDefinition" type="pvModuleDefinition"
                            minOccurs="1" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Specifications for a single PV module used in this system. A PV system may contain more than PV module make and model.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="inverterDefinitions">
                <xs:annotation>
                    <xs:documentation>A collection of the specifications of each inverter make/model used in the PV system.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inverterDefinition" type="inverterDefinition"
                            minOccurs="1" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Specifications for an inverter used in this PV system. A PV system may contain more than inverter make and model.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="dcOptimizerDefinitions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="dcOptimizerDefinition"
                            type="dcOptimizerDefinition"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="dcCombinerDefinitions">
                <xs:annotation>
                    <xs:documentation>A collection of the specifications of each DC Combiner make/model used in the PV system.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="dcCombinerDefinition"
                            type="dcCombinerDefinition"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="junctionBoxDefinitions" type="junctionBoxDefinitions"> </xs:element>
            <xs:element minOccurs="0" name="disconnectSwitchDefinitions"
                type="disconnectSwitchDefinitions"> </xs:element>
            <xs:element minOccurs="0" name="meterDefinitions" type="meterDefinitions"> </xs:element>
            <xs:element minOccurs="0" name="meterBoxDefinitions" type="meterBoxDefinitions"> </xs:element>
            <xs:element minOccurs="0" name="electricalPanelDefinitions"
                type="electricalPanelDefinitions"/>
            <xs:element minOccurs="0" name="circuitBreakerDefinitions"
                type="circuitBreakerDefinitions"> </xs:element>
            <xs:element minOccurs="0" name="fuseDefintions" type="fuseDefinitions"> </xs:element>
            <xs:element minOccurs="0" name="conductorDefinitions" type="conductorDefinitions"/>
            <xs:element minOccurs="0" name="conduitDefinitions" type="conduitDefinitions"/>
            <xs:element minOccurs="0" name="moduleLayouts">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="moduleLayout" type="moduleLayout"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="pvArrays">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="pvArray"
                            type="pvArray"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="pvModules">
                <xs:annotation>
                    <xs:documentation>A collection of individual PV Modules in the system.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="pvModule" type="pvModule">
                            <xs:annotation>
                                <xs:documentation>A specific instance of a PV module in the system.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="stringInverters">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="stringInverter"
                            type="stringInverter">
                            <xs:annotation>
                                <xs:documentation>String (or Central) Inverters that make up the system.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="dcOptimizers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="dcOptimizer" type="dcOptimizer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="dcStrings">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="dcString" type="dcString"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="microInverters">
                <xs:annotation>
                    <xs:documentation>A collection of the individual micro inverter instances in the system.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="microInverter" type="microInverter">
                            <xs:annotation>
                                <xs:documentation>A specific instance of a micro-inverter in the PV system.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="acPvBranchCircuits">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="acPvBranchCircuit"
                            type="acPvBranchCircuit">
                            <xs:annotation>
                                <xs:documentation>An AcPvBranch circuit represents micro-inverter system architectures.

NOTE: An AC Module is assumed to be either:
1) an integrated micro-inverter and PV module, OR 2) an independent PV module and micro-inverter pair.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="dcCombiners">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="dcCombiner" type="dcCombiner"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="junctionBoxes" type="junctionBoxes"> </xs:element>
            <xs:element minOccurs="0" name="disconnectBoxes" type="disconnectBoxes"> </xs:element>
            <xs:element minOccurs="0" name="meters" type="meters"> </xs:element>
            <xs:element minOccurs="0" name="meterBoxes" type="meterBoxes"> </xs:element>
            <xs:element minOccurs="0" name="electricalPanels" type="electricalPanels"> </xs:element>
            <xs:element minOccurs="0" name="circuitBreakers" type="circuitBreakers"> </xs:element>
            <xs:element minOccurs="0" name="fuses" type="fuses"> </xs:element>
            <xs:element minOccurs="0" name="conduitSegments" form="qualified" type="conduitSegments"
                > </xs:element>
            <xs:element minOccurs="0" name="circuitConnections" type="circuitConnections">
                <xs:annotation>
                    <xs:documentation>A collection of the circuit connections between each of the various PV system components.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sceneOriginGeoTag" type="geoLocation" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Coordinate system geo reference origin for the system.  All child components that specify 3D coordinates are in units meters relative to this location.  The 3D coordinate of this origin is (0,0,0).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>
    <xs:element name="pvSystem" type="pvSystem"/>
    <xs:complexType name="pvSystemsWithArrayInstallAreas">
        <xs:sequence>
            <xs:element minOccurs="0" name="roofArrayInstallAreas" type="roofArrayInstallAreas"/>
            <xs:element minOccurs="0" name="groundArrayInstallAreas" type="groundArrayInstallAreas"/>
            <xs:element name="pvSystems">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="pvSystem" type="pvSystem"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="pvSystemsWithArrayInstallAreas" type="pvSystemsWithArrayInstallAreas">
        <xs:annotation>
            <xs:documentation>Use when describing one or more PV systems that refer to specifically defined array install areas, for example, if array layouts are included.</xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>
